body{
    background: #ecf0f1;
}

.accordion-container {
    width: 100%;
    margin: 0 0 2px;
    clear:both;
}

.accordion-titulo {
    position: relative;
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
    background: #03a1d3; /*color celeste*/
    color: #fff;
    text-decoration: none;
}
.accordion-titulo.open {
    background: #16a085;/*color verde*/
    color: #fff;
}
.accordion-titulo:hover {
    background: #2e518b; /*color azul*/
}

.accordion-content {
    display: none;
    padding: 20px;
    overflow: auto;
}

.accordion-content p{
    margin:0;
}


@media (max-width: 767px) {
    .accordion-content {
        padding: 10px 0;
    }
}